<h1>Thesis#list</h1>
<p>Find me in app/views/thesis/list.html.erb</p>

Search key: <%= @expression %>
<br>
<% if @list.length > 0 %>
  <% @list.each do |l| %>
    <%= l["title"] %>
    <br>
  <% end %>
<% else %>
  No results has been found
<% end %>
