<h1>Course#detail</h1>
<%provide :controller, @controller%>
<% favourite_course_find_by = FavouriteCourse.find_by(user_id: @user[:id], item_id: @hash[:id])%>
<%provide :isFavourite, "#{favourite_course_find_by.nil?}" %>
<%puts "eshghhhhhhhhhhhhh  #{favourite_course_find_by.nil?}"%>
<%provide :id, @hash[:id]%>
<%provide :name, "#{@hash[:title]}"%>
<%provide :type, 'COURSE' %>
<%=render 'layouts/detail' %>