<!--h1>Person#search</h1>
<p>Find me in app/views/person/search.html.erb</p-->


<!--%= form_tag(person_doInvoke_path, method: :get) do %>
<!--%= label_tag(:expression, "Search for:") %>
<!--%= text_field_tag(:expression) %>
<!--%= submit_tag("Search") %>
<!--% end %-->


<% provide(:title, 'Person') %>
<% provide(:forwardPath, person_list_path) %>
<%= render 'layouts/search' %>