<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to image_tag("logo-blue-3.png", size: "150x48", alt: "Home",), static_pages_home_path %></li
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to "About", static_pages_about_path %></li>
        <li>
          <a href="#">Settings</a></li>
        <li>
          <%= link_to "Contact us", static_pages_contact_path %></li>
        <li>
          <%= link_to "<span class=\"glyphicon glyphicon-log-out\"></span> Logout #{controller.current_user[:name]}".html_safe, static_pages_logout_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>


