<div class="container-fluid p-3 mb-2 bg-primary text-white navbar-fixed-top" style="padding:5px; margin-top: 48px;">
  <!--p class="navbar-text navbar-center"><h4>Welcome <!--%= controller.current_user[:username] %></h4></p-->
  <div class="row vertical-align">
    <div class="col-xs-2 col-sm-3 col-md-5 col-lg-5">
      <%=link_to "<h4><span class=\"glyphicon glyphicon-hand-left\"></span></h4>".html_safe, :back, style:'color: white' %>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-6 col-lg-6">
      <h4><%= yield(:title) %></h4>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
  </div>
</div>